dev.ipynb
*.*.swp
*.*.swo
*.ipynb_checkpoints
*__pycache__
*.ruff_cache
*.pkl
*resampled
*.docx
dist/*
public/*
*module.html.jinja2
notebooks/examples/**/*
notebooks/res/**/*
notebooks/losses_for_costs.tex
*.pdf
*.log
*.out
*.bbl
*.aux
*.blg
*.toc
**/.ill/
**/notebooks/ill_*.md
**/notebooks/rbd24_*.md
**/notebooks/_*.ipynb
